.profile__name {
  margin: 0;
  padding-right: 18px;
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  font-size: 42px;
  font-weight: 500;
  line-height: 30px;
}
@media screen and (max-width: 1279px) {
  .profile__name {
    grid-column: 1;
    grid-row: 2;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    padding: 0 10px 0 0;
  }
}
